* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav {
    background: #007ef5;
    height: 70px;
}

.ul-nav {
    text-align: center;
}

.ul-nav li {
    display: inline-block;
    font-size: 17px;
    margin-top: 25px;
    color: #fff;
}

.ul-nav li a{
    margin-left: 30px;
    padding-inline-start: 10px;
}

.search {
    background: #d4d4d4;
    border: 1px solid #a5a5aa;
    outline: none;
    text-align: left;
    width: 100px;
    height: 25px;
    border-radius: 6px;
    transition: .5s;
    margin-left: 20px;
}

.search:focus {
    width: 200px;
}
@media (max-width: 700px) {
    .search {
        transition: none;
        width: 200px;
    }
}

@media (max-width: 450px) {
    .ul-nav li {
        font-size: 13px;

    }
    .search {
        margin-top: 10px;
    }

    nav {
        height: 80px;
    }

    .ul-nav li a{
        margin-left: 20px;
    }
}


@media (max-width: 342px) {
    .ul-nav li {
        font-size: 13px;

    }

    .ul-nav li a{
        margin-left: 10px;
    }
}



@media (max-width: 300px) {
    .ul-nav li {
        font-size: 13px;

    }

    .ul-nav li a{
        margin-left: 5px;
    }
}



@media (max-width: 280px) {
    .ul-nav li {
        font-size: 13px;

    }

    .ul-nav li a{
        margin-left: 3px;
    }
}

@media (max-width: 269px) {
    .ul-nav li {
        font-size: 13px;

    }

    .ul-nav li a{
        margin-left: 1px;
    }
}






